body {
  // min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
  font-size: 20px;
}

.navbar-brand {
  padding: 5px 15px;
}

img.logo {
    height: 87px;
    width: 116px;
    margin-bottom: 5px;
  }
