// customize bootstrap variables here:
@import "variables";
@import "bootstrap";
@import "blog";
@import "mailchimp";
@import "navbar";

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.subh1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-weight: normal;
  color: #333;
  margin-top: 0;
}

$btn-signup-color:              #fff;
$btn-signup-bg:                 #E7BE71;
$btn-signup-border:             darken(#E7BE71, 5%);

.btn-signup {
  @include button-variant($btn-signup-color, $btn-signup-bg, $btn-signup-border);
}

.blog-footer {
  padding: 30px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

