.navbar-ms {
  background-image: url("../images/manila-bg.jpg");
  background-repeat: repeat;
}

.navbar-static-top {
  margin-bottom: 19px;
  font-size: 20px;
}

.navbar-brand {
  padding: 5px 15px;
}

img.logo {
  width: 146px;
  height: 93px;
  margin-bottom: 5px;
}
