<!-- About Modal
================================================== -->
<div class="modal fade" id="contact-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Get in touch</h4>
      </div>
      <div class="modal-body">
        <p>Mail-Skills.com is a project by <a href="https://twitter.com/findingmarbles" target="_blank">Corinna Baldauf</a> and <a href="https://twitter.com/superbilk" target="_blank">Christian Schmidt</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
