<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="http://mail-skills.us2.list-manage2.com/subscribe/post?u=d917e83515963586fa0d51ae4&amp;id=92fb32fd8a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    
  <div class="mc-field-group">
    <input type="email" value="" placeholder="Enter your email address" name="EMAIL" class="required email" id="mce-EMAIL">
    <input type="hidden" value="{{ meta.course }}" name="COURSE" class="hidden" id="mce-COURSE">
  </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_d917e83515963586fa0d51ae4_92fb32fd8a" value=""></div>
    <div class="clear"><input type="submit" value="Sign up now!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-signup"></div>
    <p class="small">We won’t give your email address to anyone and won’t spam you either!</p>
    <div class="poweredWrapper">
      <span class="poweredBy">Powered by
        <a href="http://www.mailchimp.com/monkey-rewards/?utm_source=freemium_newsletter&utm_medium=email&utm_campaign=monkey_rewards&aid=d917e83515963586fa0d51ae4&afl=1"><img src="http://cdn-images.mailchimp.com/monkey_rewards/MC_MonkeyReward_15.png" border="0" alt="Email Marketing Powered by MailChimp" title="MailChimp Email Marketing" width="139" height="54"></a>
      </span>
    </div>
  </form>
</div>
