<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top navbar-ms" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img class="logo" src="{{ theme_url }}/images/mail-skills-logo.png" width="350" height="223" alt="Logo"/>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">{{ meta.title }}</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">All courses <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/courses/product-owner">Product Owner</a></li>
<!--             <li class="divider"></li>
            <li><a href="#"><strong>Coming soon...</strong></a></li>
            <li><a href="/courses/scrum-master">Scrum Master</a></li>
            <li><a href="/courses/writing-well">Writing Well</a></li>
            <li><a href="/courses/agile-developer">Agile Developer</a></li>
            <li><a href="/courses/lean-ux-design">Lean UX / Design</a></li>
            <li><a href="/courses/lean-product-development">Lean Product Development</a></li>
            <li><a href="/courses/advanced-product-owner">Advanced Product Owner</a></li>
 -->            <li class="divider"></li>
            <li><a href="mailto:team@mail-skills.com">Contribute your ideas</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#contact" data-toggle="modal" data-target="#contact-modal">Contact & Contribute</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
